<div class="col1div" style="background-color:#555;">
	<a href="/m8/ce/" target="_top">Start</a>
</div>
<div class="col1div" style="background-color:#557;">
	<a href="/m8/ce/pages/" target="_top">Pages</a>
</div>
