<div class="col1div" style="background-color:#555;">
	<a href="/m8/ce/" target="_top">
		<img src="/img/col1-start.svg" />
		Start
	</a>
</div>
<div class="col1div" style="background-color:#557;">
	<a href="/m8/ce/pages/" target="_top">
		<img src="/img/col1-pages.svg" />
		Pages
	</a>
</div>
<div class="col1div" style="background-color:#354;">
	<a href="/m8/ce/files/" target="_top">
		<img src="/img/col1-files.svg" />
		Files
	</a>
</div>
<div class="col1div" style="background-color:#26a;">
	<a href="/m8/ce/users/" target="_top">
		<img src="/img/col1-users.svg" />
		CE-Users
	</a>
</div>
