<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>ce <%- locals.title %></title>
		<link rel="stylesheet" href="/m8/ce/cfg/main.css" type="text/css" />
	</head>
	<body>
		<div class="ceHeader">
			CE - Content Entry
		</div>
		<div style="border:1px solid #333; margin:20px; padding:20px;">


<style>
	* {
		box-sizing: border-box;
	}
	html, body {
		margin: 0;
		padding: 0;
	}


	html, body {
    color: #dfdfdf;
    background-color: #333;
}
a {
    color: #aaf;
}
.ceHeader {
    text-align:center;
    border-bottom: 1px solid #335588;
}
.ceFooter {
    text-align:center;
    border-top: 1px solid #000;
}

.activity-bar {
    width: 280px;
}
.activity-button {
    display: block;
    color: white;
    background-color: darkgreen;
    padding: 5px;
    margin: 5px;
    border: 1px solid #ffc;
    border-radius: 5px;
    cursor: pointer;
}









	
	html, .ceHeader {
		background-color: #335;
		color: #ccf;
	}
	body {
		color: #444;
		background-color: #ddd;
	}

</style>