<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title><%- locals.title || 'CE' %></title>
		<link rel="stylesheet" href="/m8/ce/cfg/main.css" type="text/css" />
	</head>
	<body>

<!-- --------------------------------------------------------------------- -->
<style>
	/* +++++++++++++++++++++++++++++++++++ */
	* {
		box-sizing: border-box;
	}
	html, body {
		margin: 0;
		padding: 0;
		color: #444;
		background-color: #fafafa;
	}
	body {
		position: relative;
		font-family: Arial, sans-serif;
	}
	a {
		color: #05a;
	}
	/* +++++++++++++++++++++++++++++++++++ */
	.ceHeader {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		margin: 0;
		padding: 5px;
		height:45px;
		background-color: teal;
		color: white;
		border-bottom: 1px solid #fff;
	}
	.ceHeader a { color: yellow; }
	.lower-part {
		position: relative;
		top: 45px;
		left: 0;
		width:100%;
		height:100%;
		background-color: #fff;
		display: flex;
	}
	.col1{
		position: relative;
		top: 0;
		left: 0;
		overflow: auto;
		height:100vh;
		width: 200px;
		background-color: #5588aa;
		color: #fff;
	}
	.col1div {
		margin:0;
		padding: 10px;
		color: white;
		border-bottom: 1px solid #ddd;
	}
	.col1div a {
		display: block;
		color: white;
	}
	.col2 {
		position: relative;
		top: 45px;
		left: 200px;
		overflow: auto;
		height:100%;
		width: 200px;
		background-color: #ccc;
		color: #333;
	}
	.main-content {
		position:relative;
		padding:0 0 0 10px;
		margin:0;
		background-color: transparent;
	}
	.ceCard {
		display: inline-block;
		border: 1px solid #333;
		max-width: 360px;
		border-radius: 10px;
		padding: 10px;
		margin: 10px;
		background-color: antiquewhite;
	}
	.activity-bar {
		width: 280px;
	}
	.activity-button {
		display: block;
		color: white;
		background-color: darkgreen;
		padding: 5px;
		margin: 5px;
		border: 1px solid #ffc;
		border-radius: 5px;
		cursor: pointer;
	}

	div.button {
		display: inline-block;
		margin:5px;
		padding:5px;
		border: 1px solid gray;
		border-radius: 5px;
		background-color: #58a;
	}
	div.button a {
		display: block;
		color: #fff;
	}
	a.button {
		display: inline-block;
	}
	button.button {
		margin: 5px;
		padding: 5px;
		display: inline-block;
	}

	table tr td, table tr th {
		background-color: #cdd;
		padding:3px;
		margin: 0;
		border: 1px solid #c0c0c0;
	}
	table tr th {
		background-color: #ccd;
	}
	table.ce-pages-list a {
		display: block;
	}
	.col1div {
		overflow: auto;
	}
	.col1div.active {
		background-color: #a55;
	}
	.col1div.active a {
		background-color: #a55;
		color: #ffa;
	}
	.col1div a img {
		max-width: 32px;
		height: auto;
		vertical-align: middle;
	}
</style>
<!-- +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ -->

<%- include('headerrow') %>
<div class="lower-part">
	<%- include('col1') %>
	<%# - include('col2') %>
	<div class="main-content">
