<%- include('../../includes/header', { title: 'm8 - config'}); %>

<h1 class="ceType">Config</h1>

<br>
<div class="ceCard">
	<%- locals.content %>
</div>


<div class="ceStartGroup">
	<div class="ceStartDiv">
		debug/develop:
		<a href="/_m8/ce/nodes/">
			<img src="/_m8/img/col1-nodes.svg" style="width:auto;height:28px;vertical-align:middle;"/>
			nodes
		</a>
	</div>
</div>


<%- include('../../includes/footer'); %>
