<%- include('includes/header', { title: locals.title}); %>
<h1><%- locals.title %></h1>

<div>
	<%- locals.content %>
</div>

<div class="activity-bar" style="margin-top:50px;">
	<button>
		<a href="/" target="localhost">open homepage</a>
	</button>
	<button>
		<a href="/m8/ce/pages/" target="_top">list all pages</a>
	</button>
	<button class="activity-button">
		force build all pages
		(only if SRV=local)
	</button>
</div>

<%- include('includes/footer') %>
