<%- include('includes/header', { title: locals.title}); %>
<h1><%- locals.title %></h1>

<div>
	<%- locals.content %>
</div>

<style>
	table tr td, table tr th {
		padding:10px;
		margin: 0;
		border: 1px solid #c0c0c0;
	}
</style>

<div class="activity-bar" style="margin-top:50px;">
	<button>
		<a href="/" target="localhost">open homepage</a>
	</button>
	<button class="activity-button">
		build all pages
	</button>
	<button class="activity-button">
		force build all pages
		(only if SRV=local)
	</button>
</div>

<%- include('includes/footer') %>
