<%- include('../includes/header', { title: locals.title}); %>
<h1><%- locals.title %></h1>

<div>
	<%- locals.content %>
</div><br>

<div class="ceCard">
	<div class="button">
		<a href="/_m8/ce/articles/create">Create new article</a>
	</div>
</div><br>

<div class="ceCard">
	<input type="number" name="articleid" />
	<div class="button">	
		<a href="/_m8/ce/articles/create">Open article</a>
	</div>
</div><br>

<div class="ceCard">
	<div class="button">
		<a href="/" target="m8preview">Display homepage</a>
	</div>
	(new named window)
</div><br>

<div class="ceCard">
	Documentation
	<div class="button">
		<a href="https://www.m8web.net/doc/" target="_blank">www.m8web.net/doc/</a>
	</div>
</div><br>

<%- include('../includes/footer') %>
