<%- include('../../includes/header', { title: locals.title}); %>

<h1>Elements</h1>

<div>
	<%- locals.content %>
</div>

<div class="ceCard">
	<div class="button">
		<a href="/_m8/ce/elements/create">Create new element</a>
	</div>
</div>

<h2><%- locals.title %></h2>

<p>
    List Elements
</p>


<div>
	HTML ("HTML-Asset"):
</div>


<%- include('../../includes/footer'); %>
