
				<div class="content-footer">
					<div class="content-footer-inner">
						<div class="content-footer-innner-toplink" style="text-align:right;">
							<div class="button">
								<a href="#top"><img src="/img/eject.png" alt="jump to top of page" /></a>
							</div>
						</div>
					</div>
				</div>

			</div>
		</div>
	</body>
</html>
