<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title><%- locals.title || 'CE' %></title>
		<link rel="stylesheet" href="/_m8/ce/cfg/main.css" type="text/css" />
	</head>
	<body>

<!-- --------------------------------------------------------------------- -->
<style>
	/* +++++++++++++++++++++++++++++++++++ */
	* {
		box-sizing: border-box;
		margin: 0;
		padding: 0;
	}
	html, body {
		color: #444;
		background-color: #fafafa;
	}
	body {
		position: relative;
		font-family: Arial, sans-serif;
	}
	a {
		color: #05a;
	}
	ul {
		margin: 15px;
	}
	/* +++++++++++++++++++++++++++++++++++ */
	.ceType {
		font-family: 'Comic Sans MS', Helvetica, Verdana, Arial, sans-serif;
		color: purple; 
	}
	.ceHeader {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		margin: 0;
		padding: 5px;
		height:45px;
		background-color: teal;
		color: white;
		border-bottom: 1px solid #fff;
	}
	.ceHeader a { color: #ccf; }
	.lower-part {
		position: relative;
		top: 45px;
		left: 0;
		width:100%;
		height:100%;
		background-color: #fff;
		display: flex;
		flex-wrap: nowrap;
	}
	.col1{
		position: relative;
		top: 0;
		left: 0;
		overflow: auto;
		height:100vh;
		width: 200px;
		background-color: #5588aa;
		color: #fff;
	}
	.col1div {
		margin:0;
		padding:0;
		color: white;
		border-bottom: 1px solid #ddd;
		overflow: auto;
		cursor: pointer;
	}
	.col1div a {
		display: block;
		color: white;
		text-decoration: none;
		padding: 15px;
		cursor: pointer;
	}
	.col1div a:hover {
		opacity: 0.8;
		background-color: #333;
		border-right: 15px solid #0cc;
	}
	.col1div.active a, .col1div.active a:active {
		border-right: 15px solid #c00;
	}
	.col1div a img {
		max-width: 32px;
		height: auto;
		vertical-align: middle;
	}
	.col2 {
		position: relative;
		top: 45px;
		left: 200px;
		overflow: auto;
		height:100%;
		width: 200px;
		background-color: #ccc;
		color: #333;
	}
	.main-content {
		position:relative;
		padding:10px;
		margin:0;
		background-color: transparent;
		flex-grow: 2;
	}
	div.ceStartGroup {
		padding: 15px;
		margin:0 0 15px 0;
		background-color: #fafafa;
		border: 1px solid #ccc;
		border-radius: 15px;

	}
	table.ce-table {
		width:100%;
		margin:0;
		padding: 50px 0;
		border-collapse: collapse;
	}
	table.ce-table th {
		text-align:left;
	}
	table.ce-table tr img {
		width:  24px;
		height: auto;
	}
	table.ce-table tr a {
		display: inline-block;
		width: 100%;
	}
	table.ce-table tr a:hover {
		background-color: #ffd;
	}
	.ceCard {
		display: inline-block;
		border: 1px solid #333;
		max-width: 360px;
		border-radius: 10px;
		padding: 10px;
		margin: 10px;
		background-color: antiquewhite;
	}
	div.button, button.button {
		display: inline-block;
		margin:5px;
		padding:5px;
		border: 1px solid gray;
		border-radius: 5px;
		background-color: #58a;
		color: #fff;
		cursor: pointer;
	}
	div.button a {
		display: block;
		color: #fff;
		text-decoration: none;
	}
	a.button {
		display: inline-block;
	}

	table tr td, table tr th {
		background-color: #cdd;
		padding:3px;
		margin: 0;
		border: 1px solid #c0c0c0;
	}
	table tr th {
		background-color: #ccd;
	}
	table.ce-pages-list a {
		display: block;
	}

	div.valueedit  {
		padding: 0 5px 10px 5px;
		background-color: lightsteelblue;
		width: 100%;
	}
	div.valueedit label {
		display: inline-block;
		min-width: 90px;
	}
	div.valueedit input {
		display: inline-block;
		min-width: 450px;
	}
	input:read-only {
		background-color: #ddd;
	}

	/* infotext on ce startpage */
	div.m8info {
		width: 100%;
		margin: 15px 0 50px 0;
		padding: 20px;
		text-align:center;
		font-family: serif;
		font-size: 0.8rem;
		border: 1px solid #c0c0c0;
		border-radius: 10px;
		color: #c0c0c0;
		background-color: #f8f8f8;
	}
	div.ceStartDiv {
		padding: 5px;
		margin: 5px 0;
	}

</style>
<!-- +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ -->

<%- include('headerrow') %>
<div class="lower-part">
	<%- include('col1') %>
	<%# - include('col2') %>
	<div class="main-content">
